<div ng-controller="ItemList as $ctrl">
    <side-bar>
    <div class="row g-3">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header d-flex">
                    Filtros
                    <div class="ms-auto">
                        <button class="btn py-0 px-1 btn-sm btn-primary" ng-click="$ctrl.events.setFilters()">
                            <i class="fa fa-search"></i>
                            Buscar
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form class="row gx-2 gy-3" name="filtersForm">
                        <div class="col-12 col-md-4">
                            <label class="form-label">
                                Identificador
                            </label>
                            <input type="text" name="uuid" ng-model="$ctrl.filters.uuid" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">
                                Nome
                            </label>
                            <input type="text" name="title" ng-model="$ctrl.filters.title" class="form-control">
                        </div>
                        <div class="col-12 col-md-4">
                            <label class="form-label">
                                Categoria
                            </label>
                            <select class="form-select" name="category" ng-model="$ctrl.filters.category">
                                <option value=""></option>
                                <option ng-repeat="(key, value) in $ctrl.categories" value="{{key}}">
                                    {{value.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-body table-relative">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Identificador</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Categoria</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in $ctrl.items">
                                <td>{{item.uuid}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <span class="badge bg-gradient shadow-sm text-bg-{{ $ctrl.categories[item.category].color }}">
                                        {{ $ctrl.categories[item.category].title }}
                                    </span>
                                </td>
                                <td>
                                    {{ $ctrl.helpers.getPriceValue(item.price)}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</side-bar>
</div>