<div ng-controller="HomeController as $ctrl">
    <side-bar>
        <div class="row g-3">
            <div class="col-12 col-lg-4">
                <a class="h-100 card bg-primary text-bg-primary p-4 text-decoration-none shadow-md" href="/items">
                    <div class="d-flex align-items-center gap-3 overflow-hidden">
                        <i class="fa-solid fa-boxes-stacked" style="font-size: 64px;"></i>
                        <span class="fs-4">Lista de Materiais</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a class="h-100 card bg-danger text-bg-danger p-4 text-decoration-none shadow-md" href="/items/new">
                    <div class="d-flex align-items-center gap-3 overflow-hidden">
                        <i class="fa fa-box" style="font-size: 64px;"></i>
                        <span class="fs-4">Cadastrar Material</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-4">
                <a class="h-100 card bg-success text-bg-success p-4 text-decoration-none shadow-md" href="/loans">
                    <div class="d-flex align-items-center gap-3 overflow-hidden">
                        <i class="fa fa-handshake" style="font-size: 64px;"></i>
                        <span class="fs-4">Empréstimos</span>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <div class="card shadow-sm">
                    <div class="card-header">
                        Últimos empréstimos realizados
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Aluno</th>
                                <th>Material</th>
                                <th>Quantidade</th>
                                <th>Data de Empréstimo</th>
                                <th>Data de Devolução</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in $ctrl.items">
                                <td>{{item.aluno}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.dataInicio}}</td>
                                <td>{{item.dataFim}}</td>
                                <td>
                                    <span class="badge bg-gradient shadow-sm text-bg-{{ $ctrl.status[item.status].color || 'secondary' }}">
                                        {{ $ctrl.status[item.status].title || item.status }}
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </side-bar>
</div>