<style>

    #side_nav {
        min-width: 200px;
        max-width: 200px;
        transition: all 0.3s;
    }

    .sidebar-hide-btn {
        display: none;
    }

    .sidebar-hide-btn-2 {
        display: none;
    }

    @media(max-width: 767px) {
        #side_nav {
            margin-left: -200px;
            position: absolute;
            min-height: 100vh;
            z-index: 1;
        }

        .sidebar-hide-btn-2 {
            display: block;
        }
        

        #side_nav.active {
            margin-left: 0;
        }

        .sidebar-hide-btn {
            display: block;
        }
    }
</style>

<div class="main-container d-flex">
    <div class="sidebar bg-dark shadow p-3" ng-class="{ 'active': $ctrl.states.isActive }" id="side_nav">
        <div class="row g-2 d-flex">
            <div class="col-12 sidebar-hide-btn-2">
                <div class="d-flex" ng-click="$ctrl.states.isActive = false">
                    <button class="ms-auto btn btn-secondary text-start">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                </div>
            </div>
            <div class="col-12" ng-repeat="item in $ctrl.items">
                <a ng-if="!item.items" class="btn btn-sm btn-success w-100 text-start" href="{{item.url}}">
                    <i class="{{item.icon}}"></i>
                    {{item.title}}
                </a>
                <div ng-if="item.items" class="rounded overflow-hidden">
                    <button class="btn gap-1 d-flex align-items-center btn-sm text-bg-success w-100 mb-1 text-start" data-bs-toggle="collapse" href="#item-collapse-{{$index}}">
                        <i ng-if="item.icon" class="{{item.icon}}"></i>
                        {{item.title}}
                        <i class="ms-auto fa fa-chevron-down opacity-75" style="font-size: 12px;"></i>
                    </button>
                    <div class="row g-1 collapse show" id="item-collapse-{{$index}}">
                        <div class="col-12" ng-repeat="subitem in item.items">
                            <a class="btn btn-sm w-100 text-bg-success text-start bg-success bg-opacity-50" href="{{subitem.url}}">
                                <i ng-if="subitem.icon" class="{{subitem.icon}}"></i>
                                {{subitem.title}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content" style="min-height: 100vh; width: 100%;">
        <nav class="navbar bg-success bg-gradient border-bottom border-opacity-25 border-dark shadow">
            <div class="container-fluid">
                <div class="d-flex">
                    <button class="sidebar-hide-btn btn rounded-circle" ng-click="$ctrl.states.isActive = true">
                        <i class="fa-solid fa-bars fs-3 m-auto"></i>
                    </button>
                    <a class="navbar-brand fs-4" href="#">
                        <span class="bg-dark rounded px-2 py-0 text-white fw-bold ff-lexend">SISEMP</span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="px-3 pt-4">
            <div class="container-lg" ng-transclude></div>
        </div>
    </div>
</div>