<div ng-controller="LoginController as ctrl" class="h-100 bg-body-tertiary">
    <div class="d-flex h-100">
        <div class="row w-100 m-0">

            <div class="col-6 d-none d-lg-flex bg-success bg-gradient">
                <div class="m-auto">
                    <span class="fs-1 bg-dark rounded-3 shadow px-3 py-1 text-white fw-bold">
                        SISEMP
                    </span>
                </div>
            </div>

            <div class="col-lg-6 d-flex">
                <div class="m-auto" style="max-width: 400px; width: 100%;">

                    <div class="alert alert-success py-2 small"
                         ng-if="ctrl.states.recoverSuccess">
                        Instruções enviadas para o seu e-mail.
                    </div>

                    <div ng-if="!ctrl.states.recoverMode">

                        <form name="loginForm" ng-submit="ctrl.submit()">

                            <h5 class="mb-3">Entrar</h5>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control shadow-sm"
                                       placeholder=""
                                       ng-model="ctrl.form.username"
                                       name="username" ng-required="true">
                                <label>Usuário</label>
                            </div>

                            <div class="form-floating mb-2">
                                <input type="password" class="form-control shadow-sm"
                                       placeholder=""
                                       ng-model="ctrl.form.password"
                                       name="password" ng-required="true">
                                <label>Senha</label>
                            </div>

                            <div class="text-end mb-3">
                                <a href="" class="small opacity-75"
                                   ng-click="ctrl.states.recoverMode = true">
                                    Esqueceu a senha?
                                </a>
                            </div>

                            <button type="submit"
                                    class="btn btn-success bg-gradient w-100 py-2 shadow-sm border border-dark border-opacity-25"
                                    ng-disabled="loginForm.$invalid">
                                Entrar
                            </button>

                            <div class="text-center fw-bold opacity-75 small my-3">OU</div>

                            <button class="btn btn-secondary w-100 py-2 shadow-sm border border-dark border-opacity-25">
                                Entrar com o SUAP
                            </button>

                            <div class="text-danger small mt-2"
                                 ng-if="ctrl.states.isFailed">
                                Usuário ou senha incorretos.
                            </div>

                        </form>
                    </div>


                    <div ng-if="ctrl.states.recoverMode">

                        <form name="recoverForm" ng-submit="ctrl.recover()">

                            <h5 class="mb-3">Recuperar senha</h5>

                            <p class="small opacity-75 mb-3">
                                Informe seu e-mail institucional para receber as instruções.
                            </p>

                            <div class="form-floating mb-3">
                                <input type="email" class="form-control shadow-sm"
                                       placeholder=""
                                       ng-model="ctrl.recoverEmail"
                                       name="email" ng-required="true">
                                <label>E-mail</label>
                            </div>

                            <button type="submit"
                                    class="btn btn-success bg-gradient w-100 py-2 shadow-sm border border-dark border-opacity-25"
                                    ng-disabled="recoverForm.$invalid">
                                Enviar
                            </button>

                            <div class="text-center mt-3">
                                <a href="" class="small opacity-75"
                                   ng-click="ctrl.backToLogin()">
                                    Voltar ao login
                                </a>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>